@charset "utf-8";
/* CSS Document */


/*Admin CSS*/

#testimonial_sc_metabox ul.testimonial_bg_img_list{}

#testimonial_sc_metabox ul.testimonial_bg_img_list li {
  display: inline-block;
  margin: 5px;
}
#testimonial_sc_metabox ul.testimonial_bg_img_list li.bg-selected {}

#testimonial_sc_metabox ul.testimonial_bg_img_list li img{border: 2px solid #ffffff;}

#testimonial_sc_metabox ul.testimonial_bg_img_list li.bg-selected img{
  border: 2px solid #ff5a11;
}





#testimonial_sc_metabox ul.tab-nav {
  clear: both;
  margin: 0;
  padding: 0;
}

#testimonial_sc_metabox ul.tab-nav li {
  background: #e6e6e6;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 8px 15px;
}

#testimonial_sc_metabox ul.tab-nav li.active{
	background:#d8d6d6;
	border-top:2px solid #11b063;
	padding-top:6px;
	}
#testimonial_sc_metabox ul.box {
  clear: both;
  margin: 0;
  padding: 0;
}

#testimonial_sc_metabox ul.box li.tab-box {
  border: 1px solid rgb(153, 153, 153);
  display: none;
  margin: 0;
  padding: 20px 0 10px 10px;
  width: 100%;
}




#testimonial_sc_metabox .testimonial_sc_loading_taxonomy_category {
  background: url("loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 11px;
  margin-bottom: 20px;
  width: 30px;
}


#testimonial_sc_metabox div.testimonial_taxonomy_category{}


#testimonial_sc_metabox ul.content_source_area {
  margin-left: 15px;
}

#testimonial_sc_metabox ul.content_source_area li{}


#testimonial_sc_metabox ul.content_source_area .content-source-box {
  display: none;
}

#testimonial_sc_metabox ul.content_source_area li div.active {
  background: none repeat scroll 0 0 #e6e6e6;
  border-left: 3px solid #11b063;
  display: block;
  margin: 10px 10px 0 20px;
  padding: 10px 0 10px 5px;
}

#testimonial_sc_metabox .tab-box td {
  border-left: 3px solid #fff;
}

#testimonial_sc_metabox .tab-box td:hover {
  background: #e6e6e6;
  border-left: 3px solid #11b063;
}


#testimonial_sc_metabox .tab-box > table {
  width: 100%;
}









/*CSS front page*/

.testimonial-container {
  margin: 50px 0;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

