@charset "utf-8";
/* CSS Document */








/*CSS front page*/

.testimonial-container {
  margin: 50px 0;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  text-align: center;
  width: 100%;
}
.testimonial-container .star-rate{

}


.testimonial-container .star-rate .ratings {
  background: url("images/star.png") repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  display: inline-block;
  height: 20px;
  width: 20px;
}


.testimonial-container .owl-buttons {
	display:none;
}



